<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @path.description %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @path.distance %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @path.start_loc.name %>
</p>

<p>
  <strong>End location:</strong>
  <%= @path.end_loc.name %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @path.direction %>
</p>

<p>
  <strong>Pathphotos:</strong>
  <%= @path.photo %>
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
