<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@building.photo, class: 'list_image') %>
</p>

<p>
  <strong>Id:</strong>
  <%= @building.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @building.photo %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
