<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @admin. name %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @admin.hashed_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @admin.salt %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
