<div class="container">
<p id="notice"><%= notice %></p>

<%= form_tag("/indoor/index", method: "get") do %>

      <div class="form-group">
        <%= label_tag(:q, "Floorplan:") %>
          <%= select_tag(:floor_id, options_for_select([['First Floor','1'], ['Second Floor', '2'],
                                                       ['Third Floor','3'], ['Fourth Floor','4'],
                                                       ['Lower Level','5'], ['Roof Level','6']])) %>
      </div>

      <%= label_tag(:q, "Room Tag:") %>
      <%= text_field_tag(:room_tag) %>

      <%= submit_tag("Search") %>

  <% end %>

<div class="image-container">
<%= image_tag(@floorplan, class: 'floorplan') %>
<div id="overlay" style="left: <%= @overlay_x %>px; top: <%= @overlay_y %>px;"></div>
</div>

<div style="bottom: 0px">
	<%= link_to "Back to Directions", "javascript:history.go(-1);" %>
</div>

</div>
