<h1>You are currently in <%= @floorplan.split("_").first[11..-1] %> Level: <%= @floorplan.split("_").last[0..-5] %></h1>


<div style="float: left">

<%= form_tag '/indoor/index', :method=> :get do %>
	<%= select_tag "floorplan", options_for_select((@floors.map {|x| x.floorplan.split("/").last[0..-5]})) %>
	<%= submit_tag "Search", :name=>nil %>
<% end %>

<p>List of floors in <%= @floorplan.split("_").first[11..-1] %></p>
<% @floors.each do |floor| %>
	<p>
		<%= floor.floorplan.split("_").last[0..-5]; %>
	</p>
<% end %>

</div>

<div class="image-container">
<%= image_tag(@floorplan, class: 'floorplan') %>
</div>

<div style="bottom: 0px">
	<%= link_to "Back", "javascript:history.go(-1);" %>
</div>


<!--
<% @images.each do |image| %>
	<% if image.include?("Volen") %>
		<%= image_tag image.gsub("app/assets/images/", ""), class: 'floorplan' %>
	<p>contains volen</p>
	<% end %>

<% end %>
-->
