<script>
function changePic(val, name){
	$(".image-container").html("<img src='/assets/floorplans/"+name+"_"+val+"-5f9dc8f130f2ac0b1c812f04c51edbbc.jpg' class='floorplan'>");
	$(".current-floor").html(val);
}
</script>

<div style="height: 100%; margin: 0px; padding: 0px;">

<h1>You are currently viewing <%= @floorplan.split("_").first[11..-1] %> Level: <span class="current-floor"><%= @floorplan.split("_").last[0..-5] %></span></h1>



<div class="btn-toolbar">
	<div class="btn-group">
<% @floors.each do |floor| %>
	<% plan_name = floor.floorplan.split('_').last[0..-5] %>
	<% building_name = floor.floorplan.split('_').first[11..-1] %>
	<button class="btn btn-primary" onclick="changePic(
		'<%= plan_name %>', '<%= building_name %>')" type="button">
		<%= plan_name %>
	</button>
<% end %>
	</div>
</div>



<div class="image-container">
<%= image_tag(@floorplan, class: 'floorplan') %>
<div id="overlay" style="left: <%= @overlay_x %>px; top: <%= @overlay_y %>px;"></div>
</div>

<div style="bottom: 0px">
	<%= link_to "Back to Directions", "javascript:history.go(-1);" %>
</div>

</div>
