<script>
function changePic(val){
	$(".image-container").html("<img src='/assets/floorplans/Volen_"+val+"-5f9dc8f130f2ac0b1c812f04c51edbbc.jpg' class='floorplan'>");
	$(".current-floor").html(val);
}
</script>


<h1>You are currently in <%= @floorplan.split("_").first[11..-1] %> Level: <span class="current-floor"><%= @floorplan.split("_").last[0..-5] %></span></h1>


<div style="float: left; text-align: center">


<p style="font-weight: bold; font-size: 2em">Floors in <%= @floorplan.split("_").first[11..-1] %></p>
<% @floors.each do |floor| %>
	<% plan_name = floor.floorplan.split('_').last[0..-5] %>
	<button onclick="changePic(
		'<%= plan_name %>')" type="button">
		<%= plan_name %>
	</button>
<% end %>

</div>

<div class="image-container">
<%= image_tag(@floorplan, class: 'floorplan') %>
<div id="overlay" style="left: <%= @overlay_x %>px; top: <%= @overlay_y %>px;"></div>
</div>

<div style="bottom: 0px">
	<%= link_to "Back to Directions", "javascript:history.go(-1);" %>
</div>
