<div class="container">
<p id="notice"><%= notice %></p>

<%= form_tag("/indoor/index/Volen", method: "get") do %>

      <div class="form-group">
        <%= label_tag(:q, "Floorplan:") %>
          <%= select_tag(:code_name, options_for_select([['First Floor','Volen_1'], ['Second Floor', 'Volen_2'],
                                                       ['Third Floor','Volen_3'], ['Fourth Floor','Volen_4'],
                                                       ['Lower Level','Volen_5'], ['Roof Level','Volen_6']])) %>
      </div>

      <%= label_tag(:q, "Room Tag:") %>
      <%= text_field_tag(:room_tag) %>

      <%= submit_tag("Search") %>

  <% end %>

<div class="image-container">
<%= image_tag(@floorplan, class: 'floorplan') %>
<div id="overlay" style="left: <%= (@overlay_x - 2) %>%; top: <%= (@overlay_y - 6) %>%;">
<span class="glyphicon glyphicon-map-marker red"></span></div>
</div>

<div style="bottom: 0px">
	<%= link_to "Back to Directions", "javascript:history.go(-1);" %>
</div>

</div>
