<div class="container">
<p id="notice"><%= notice %></p>

<div class="btn-toolbar">
  <div class="btn-group">
    <% @floors.each do |floor| %>
    <% floor_id = floor.id %>
    <button class="btn btn-primary" onclick="changePic('<%= floor.floorplan %>')" type="button">
      <%= floor.level %>
    </button>
    <% end %>
  </div>
</div>

<%= form_tag(indoor_index_path, method: "get") do %>
  <%= hidden_field_tag(:building, @building.code_name) %>
  <%= label_tag(:q, "Room:") %>
  <%= text_field_tag(:room) %>
  <%= hidden_field_tag(:directed_from, @directed_from) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="image-container">
  <%= image_tag(@floorplan, class: 'floorplan') %>
  <% if @overlay_x && @overlay_y %>
  <div id="overlay" style="left: <%= @overlay_x %>%; top: <%= @overlay_y %>%;">
    <span class="glyphicon glyphicon-map-marker red"></span>
  </div>
  <% end %>
</div>

<!-- back to outdoor -->
<div>
	<%= link_to "Back to Directions", outdoor_routing_path(from: @from, to: @to) %>
</div>

<script>
  <% images = @floors.map{|floor| floor.floorplan} %>
  var all_image_paths = new Array();

  <% images.each do |img| %>
  all_image_paths["<%= img %>"] = "<%= image_path(img) %>";
  <% end %>

  function changePic(image){
    $(".image-container .floorplan").attr("src", all_image_paths[image]);
    $(".image-container #overlay").remove();
  }
</script>

</div>
