<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Campus GPS</h1>
<%= link_to 'Login', login_url %>

<!-- searh box --> 
<%= form_tag outdoor_routing_path, :method => 'get' do %>
  <p>
  <%= label_tag(:q, "From:") %>  
  <%= select_tag "from", options_from_collection_for_select(@buildings, "id", "name") %>
  </br>
  <%= label_tag(:q, "To:") %> 
  <%= select_tag "to", options_from_collection_for_select(@buildings, "id", "name") %>
  <%= submit_tag "GO", :name => nil %>
  </p>
  </br>
  
<% end %>

<!-- google map -->

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.map.centerOn(markers[0]);
    handler.getMap().setZoom(17);
});
</script>

