<p id="notice"><%= notice %></p>



<h1>Listing Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr class="<%= cycle("even", "odd") %>" style="text-align:center">
        <td><%= building.name %></td>
        <td><%= building.description %></td>
        <td><%= building.photo %></td>
        <td class="list_actions">
          <%= link_to 'Show', building %>
          <%= link_to 'Edit', edit_building_path(building) %>
          <%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
