<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Doortag</th>
      <th>Floorplan x</th>
      <th>Floorplan y</th>
      <th>Floor</th>
      <th>Building</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.doortag %></td>
        <td><%= room.floorplan_x %></td>
        <td><%= room.floorplan_y %></td>
        <td><%= room.floor %></td>
        <td><%= room.building %></td>
        <td><%= room.location %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
