<p id="notice"><%= notice %></p>

<h1>Listing Entrances</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Building</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entrances.each do |entrance| %>
      <tr class="<%= cycle("even", "odd") %>" style="text-align:center">
        <td><%= entrance.photo %></td>
        <td><%= entrance.building %></td>
        <td><%= link_to 'Show', entrance %></td>
        <td><%= link_to 'Edit', edit_entrance_path(entrance) %></td>
        <td><%= link_to 'Destroy', entrance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrance', new_entrance_path %>
