<!DOCTYPE html>
<html>
<head>
  <title>CampusGPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<%= yield %>

<!-- bottom menu -->
<nav class="navbar navbar-inverse navbar-fixed-bottom" style='height: 5px;'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to 'CampusGPS', outdoor_url %>
      </div>
      <div class="col-sm-4">
        <%= link_to 'Login', login_url %>
      </div>
      <div class="col-sm-4">
        <%= link_to 'Contact Us', login_url %>
      </div>
    </div>
  </div>
</nav>

</body>
</html>
