<!DOCTYPE html>
<html>
<head>
  <title>CampusGPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.2.custom.min.js' %>
  <%= csrf_meta_tags %>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">




<style>


.floorplan{
	width: 100%;
	height: 100%;
}



.ui-front{
	padding-left: 0px;

}

.ui-front li:hover{
	color: #bbb;
}

.ui-front li:last-child:hover{
	color: #bbb;
}

.ui-front li{
	box-shadow: -.15em .15em .2em #888888;
	border-style: solid;
	border-right-width: .35em;
	border-left-width: .35em;
	border-color: #a5a5a5;
	border-bottom-width: .2em;
	border-bottom-style: dotted;
	border-top: none;

	padding: .2em;
	width: 17.5%;
	background-color: #3b8cd6;
	list-style: none;
	color: #fff;
	font-size: 1.15em;
	text-indent: .1em;
	cursor: pointer;
}

.ui-front li:last-child{	
	border: .35em solid;
	border-color: #a5a5a5;
	border-top: none;
	border-bottom-right-radius: .55em ;
	border-bottom-left-radius: .55em ;

	padding: .2em;
	width: 17.5%;
	background-color: #3b8cd6;
	list-style: none;
	color: #fff;
	font-size: 1.15em;
	text-indent: .1em;
	cursor: pointer;
}

</style>


</head>
<body>

<%= yield %>

</body>
</html>
